body {
    background: #fff;
}

.wrapper {
    display: block;
    padding: 10px;
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #5a6275;
    border-radius: 4%;

}

.form-control {
    display: flex;
    padding: 8px;
    margin: 10px 0px;
}

.three {
    display: flex;
    padding: 10%;
    flex: 1 1 50%;
}

main {
    padding-left: 2%;
}

section {
    padding: 10%;
}

#temperature {
    font-size: 100%;
    font-weight: 100%;
    font-weight: bolder;
}

#units {
    position: relative;
    top: -4px;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    .wrapper {
        width: 92%;
        padding: 2%;
    }

    .three {
        flex-basis: 0 0 50%;
    }

    .form-control {
        display: flex;
        flex-basis: 1 1 100%;
        font-size: 65%;
        padding-right: 0;
        white-space: no wrap;
    }

    footer {
        display: block;
        text-align: center;
        margin: 0 auto;

    }


}

@media screen and (max-width: 700px) {
    .wrapper {
        width: 92%;
        padding: 2%;

    }

}